<!-- Modal -->
<div id="test" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Enquire</h4>
            </div>
            <div class="modal-body">
               <div class="form-group col-sm-12">
                  <label for="usr">Name:</label>
                  <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group col-sm-12">
                  <label for="pwd">Phone:</label>
                  <input type="password" class="form-control" id="phone">
                </div>
                 <div class="form-group col-sm-12">
                  <label for="usr">Email:</label>
                  <input type="text" class="form-control" id="email">
                </div>
                <div class="form-group col-sm-12">
                  <label for="comment">Comment:</label>
                  <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>
                <div class="form-group col-sm-12">
                      <label for="comment">Campaign</label>
                </div>
                <div class="form-group col-sm-6">
                    <input type="text" class="form-control" Placeholder="Campaign Id" id="campaign_id">
                </div>
                <div class="form-group col-sm-6">
                    <input type="text" class="form-control" Placeholder="Campaign Name" id="campaign_name">
                </div>
                <div class="form-group col-sm-6">
                    <input type="text" class="form-control" Placeholder="Product Id" id="product_id">
                </div>
                <div class="form-group col-sm-6">
                    <input type="text" class="form-control" Placeholder="Product Name" id="product_name">
                </div>
                <div class="form-group col-sm-12">
                    <input type="text" class="form-control" Placeholder="Subcategory" id="subcategory">
                </div>
                <hr>
                <div class="form-group col-sm-12">
                      <label for="comment">Lead Dated</label>
                </div>
                <div class="form-group col-sm-6">
                    <input type="text" class="form-control" Placeholder="Lead Source" id="lead_source">
                </div>
                <div class="form-group col-sm-6">
                    <input type="text" class="form-control" Placeholder="URL" id="lead_url">
                </div>
                <div class="form-group col-sm-6">
                    <input type="text" class="form-control" Placeholder="Lead Clicked On" id="lead_clicked_on">
                </div>
                <div class="form-group col-sm-6">
                    <input type="text" class="form-control" Placeholder="Lead Owner" id="lead_owner">
                </div>
                <div class="form-group col-sm-6">
                    <input type="text" class="form-control" Placeholder="Status" id="status">
                </div>
                <div class="form-group col-sm-6">
                    <input type="text" class="form-control" Placeholder="Last Action Date" id="lead_action_date">
                </div>
                 <hr>
                <div class="form-group col-sm-12">
                  <label for="location">Location:</label>
                  <input type="text" class="form-control" id="location">
                </div>
            <div class="modal-footer modal-change">
                <button type="button" class="btn btn-default btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
