body {
  padding-top: 50px; }

.no-pad {
  padding: 0px !important; }

.navbar-brand {
  width: 50%; }
  .navbar-brand img {
    width: 100%; }

.nav > li > a {
  padding: 15px 5px !important; }

.secondary-nav {
  border-bottom: 1px solid #ccc; }

tr:hover {
  cursor: pointer; }

.main-section .main-title {
  padding-top: 20px; }
  .main-section .main-title .data-summary-cont {
    border: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px; }

.data-container {
  margin-top: 20px; }
  .data-container .data-display-cont {
    padding: 0px; }
  .data-container .data-summary-cont, .data-container .data-graph-cont {
    border: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px; }
    .data-container .data-summary-cont .btn-cont, .data-container .data-graph-cont .btn-cont {
      padding: 15px 0px; }
.modal-change {
    border-top : none ! important;
}

/*Sidd added*/
.faq_solutions{
  padding: 0px 20px;
  border: 1px dashed grey;
  border-radius: 5px; 
}