<!-- Modal -->
<div class="modal fade" id="modal_newInstitute" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
	    <div class="modal-content">
	        <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title text-center">CREATE NEW BRANCH</h4>
	        	<small><b>NOTE:</b> If you have only <b>ONE</b> branch/subinstitute or if you <b>DONT HAVE</b> any branch at all, you are required to add the details of your single institute.</small><br>
	        </div>
	        <!-- Modal body -->
	        <div class="modal-body">
	        	<p class="text-right">Create new branch &nbsp;<button class="btn btn-warning jq_new_branch"><i class="fa fa-plus" aria-hidden="true"></i> Add</button></p>
	        	<div class="row" id="si_new_branches">

		            <div class="si_new_block col-md-12 hide-this">
		            	<div class="text-center">Branch <span>1</span></div>
		            	<p class="col-md-12"><input type="text"  class="form-control" placeholder="Institute Name" /></p>
		            	<div class="col-md-10"><input type="search"  class="form-control si_getLocation" placeholder="Place" /></div>
		            	<div class="col-md-2"><input type="text"  class="form-control" placeholder="Zip" /></div>
		            	<input type="hidden" name="lat" class="lat"/>
		            	<input type="hidden" name="lng" class="lng"/>
		            	<input type="hidden" name="formatted_address" class="formatted_address"/>
		            </div>
		        </div>
	        </div>
	        
	        <div class="modal-footer">
	        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
	    </div>
    </div>
</div>