<div class="row">
	<div class="col-md-offset-2 col-md-10">
		<h2>Super admin dashboard ~</h2>
		<hr>
		<%= typeof message != 'undefined' ? message : "" %>
		<div class="col-md-5">
			<h4>FIRST TIME here?</h4>
			<div>Below we have created instructions to setup your institute, and you will know how it works! </div>
			<div><b>PLEASE NOTE:</b> Each of the links given below opens in new tab so you dont lose the track. Also all the links can be found on the top navigation bar.</div>
			<p>
				<small>
					<ol>
						<li>First you need to <a href="#"><b>create new sub-institute/branch.</b></a></li>
						<li>Once sub-institutes/branches are created you are supposed to distribute the "Institute-ID" to the members of respective sub-institute/branch. Members are required to enter the "Institute-ID" at the time of their registration. </li>

						<li>Instead of distributing "Institute-ID" to the members, it is possible to <a href="#"><b>create new members</b></a> on your own. </li>
					</ol>
				</small>
			</p>
		</div>
		<div class="col-md-5">
			<h4>FAQs</h4>
			<small>
				<ul>
					<li><a href="#"> What is "Institute-ID" ?</a></li>
					<li><a href="#"> I dont have any sub-institute/branch. What now ?</a></li>
					<li><a href="#"> I dont have any member/staff. What now ?</a></li>
				</ul>
				<hr>
				<div class="faq_solutions">
					<h4>What is "Institute-ID" ?</h4>
					<p>
						"Institute-ID" is an identification number which is given to each for your sub-institute/branch to uniquely identify each of them. WE on our side need to know the "Institute-ID" at the time of any activity that is related to your sub-institute/branch. For example a member/staff of your institute is required to enter the "Institute-ID" in order to get registered, hence on our side while processing the registration details, we understand to exactly which sub-institute/branch the member/staff is to relate to.  
					</p>
				</div>
			</small>
		</div>
	</div>
</div>