<section class="main-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 main-title">
                <h1>Lead Management</h1>
                <hr>
            </div>
            <div class="col-md-12 filter-container">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Day <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Today</a></li>
                    <li><a href="#">Yesterday</a></li>
                    <li><a href="#">Last Week</a></li>
                </ul>
            </div>
            <div class="col-md-12 data-container">
                <div class="col-md-8 data-display-cont">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <th>Course/Campaign</th>
                            <th>Level</th>
                            <th>Location</th>
                            <th>Enquiries</th>
                            <th>Other Details</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Digital Marketing</td>
                                <td>Beginner</td>
                                <td>3</td>
                                <td>127</td>
                                <td>FT:120 | 1K1SKILL: 7</td>
                            </tr>
                            <tr>
                                <td>Fashion Technology</td>
                                <td>Beginner</td>
                                <td>3</td>
                                <td>127</td>
                                <td>FT:120 | 1K1SKILL: 7</td>
                            </tr>
                            <tr>
                                <td>SAP</td>
                                <td>Beginner</td>
                                <td>3</td>
                                <td>127</td>
                                <td>FT:120 | 1K1SKILL: 7</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12 data-summary-cont">
                        <h4>Summary</h4>
                        <hr>
                        <span>Leads : </span><span>489</span><br>
                        <span>Conversions : </span><span>234</span>
                    </div>
                    <div class="col-md-12 data-graph-cont">
                        <h4>Enquiries</h4>
                        <hr>
                        <img src="/images/graph-placeholder.png" alt="graph placeholder">
                        <div class="col-md-12 btn-cont">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#test"><i class="fa fa-plus" aria-hidden="true"></i> ENQUIRE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
